.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  list-style: none;
  margin-top: 50px;
  width: 68vw;
  max-width: 1290px;
}

@media screen and (max-width: 1340px) {
  .container {
    width: 85vw;
  }
}