@font-face {
  font-family: 'Century Gothic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/CenturyGothic.woff2') format('woff2'),
       url('/fonts/CenturyGothic.woff') format('woff');
}

@font-face {
  font-family: 'Century Gothic';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/CenturyGothic-Bold.woff2') format('woff2'),
       url('/fonts/CenturyGothic-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Noto-Sans.woff2') format('woff2'),
       url('/fonts/Noto-Sans.woff') format('woff');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Noto-Sans-Bold.woff2') format('woff2'),
       url('/fonts/Noto-Sans-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/Noto-Sans-Light.woff2') format('woff2'),
       url('/fonts/Noto-Sans-Light.woff') format('woff');
}