.image {
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
  width: 70vw;
  max-width: 1335px;
}

.title {
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  top: 18px;
  left: 45px;
  margin: 0;
}

@media screen and (max-width: 1320px) {
  .title {
    font-size: 25px;
  }

  .image {
    width: 85vw;
  }
}
