.container {
  width: 100%;
  height: 140px;
  position: relative;
}

.a {
  position: absolute;
  left: 596px;
  top: -3px;
  z-index: 1;
}

.b {
  position: absolute;
  left: 517px;
  top: -2px;
  z-index: 2;
}

.c {
  position: absolute;
  left: -17px;
  top: 0;
  z-index: 3;
}