.container {
  padding: 40px 52px 40px 38px;
  border: 1px solid #01457A;
  border-radius: 20px;
  height: 195px;
  width: 68vw;
  max-width: 1290px;
  -webkit-box-shadow: 0px 0px 25px rgba(174, 174, 192, 0.35);
  box-shadow: 0px 0px 25px rgba(174, 174, 192, 0.35);
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px 29px 295px 29px 1fr;
  grid-template-columns: 80px 295px 1fr;
  -webkit-column-gap: 29px;
  -moz-column-gap: 29px;
  column-gap: 29px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container:first-of-type {
  margin-bottom: 40px;
}

.high {
  height: 214px;
}

.link {
  width: 48.26px;
  height: 48.26px;
  position: absolute;
  top: -24.13px;
  right: -24.13px;
}

.button {
  width: 48.26px;
  height: 48.26px;
  border: none;
  background-color: transparent;
}

.button:hover {
  cursor: pointer;
}

.blue {
  background-image: url('/images/myth-button-blue.svg');
}

.green {
  background-image: url('/images/myth-button-green.svg');
}

.image {
  padding-right: 29px;
}

.background {
  background-image: url('/images/myth-image-1.svg');
  background-repeat: no-repeat;
  position: relative;
}

.circuit {
  position: absolute;
  top: -2px;
  left: 0;
  z-index: 2;
}

.title {
  font-family: 'Noto Sans', 'Arial', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  width: 248px;
  position: absolute;
  top: 6px;
  left: 0;
}

.bold {
  font-weight: 700;
}

.text {
  font-family: 'Noto Sans', 'Arial', sans-serif;
  max-width: 767px;
  width: 40vw;
  height: 99px;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 1px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #01457A), to(white));
  background: -o-linear-gradient(top, #01457A 60%, white 100%);
  background: linear-gradient(to bottom, #01457A 60%, white 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  display: table;
}

@media screen and (max-width: 1690px) {
  .text {
    width: 33vw;
    font-size: 20px;
    letter-spacing: 0;
  }
}

@media screen and (max-width: 1342px) {
  .container {
    -ms-grid-columns: 80px 1fr;
    grid-template-columns: 80px 1fr;
    -ms-grid-rows: 115px 29px 1fr;
    grid-template-rows: 115px 1fr;
    grid-template-areas: 
    'image background'
    'text text';
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    row-gap: 29px;
  }

  .image {
    grid-area: image;
  }

  .background {
    grid-area: background;
  }

  .text {
    grid-area: text;
    width: 100%;
  }
}

@media screen and (max-width: 1342px) {
  .image {
    grid-area: image;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .background {
    grid-area: background;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .text {
    grid-area: text;
    width: 100%;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
}

